body{
    background-color: #dfe0ec;
    /*background-image: url('https://www.imgacademy.com/sites/default/files/legacy-hotel-rendering.jpg');*/
    /*filter: blur(8px);*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}
.form-regist{
    padding: 20px;
    background-color: #c3c6c6;
    margin-top: 150px;
    max-width: 800px;
    border-radius: 5px;
}
.title-regist{
    text-align: center;
}
.submit-regist, .submit-new-article{
    text-align: center;
}
.nav-header{
    padding: 0 70px;
}

.error h5{
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: darkred;
    background: #e78a8a;
}

.feed{
    margin-top: 50px;
    margin-bottom: 50px;

}
.feed-article{
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #c3c6c6;
}

.search-input, .search-select{
    margin-right: 20px;
}

.search-select{
    /*max-width: 250px;*/
}
.img-article{
    margin: 10px;
    text-align: center;
}
.read-more{
    margin-top: 10px;
    text-align: center;
}
.search-form{
    display: flex;
    flex-direction: row;
}
.account-info{
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #c3c6c6;
}
.user-data{
    text-align: center;
}

.settings{
    margin-right: 10px;
}
.data-author{
    display: flex;
    flex-direction: row;
}
.data-author small{
    margin-left: 10px;
}
.feed-description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    box-orient: vertical;
}
.submit-comment{
    /*margin-left: 5px;*/
    margin-top: 10px;
    margin-bottom: 15px;
}
.comment-title{
    margin-bottom: 15px;
}
.notFoundArticles{
    margin-top: 60px;
    color: #404040;
    text-align: center;
}
